* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #56CCF2;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #2C3E50;
    margin: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

#lessonsList {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: #EAEDED;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#lessonsList:hover {
    transform: scale(1.02);
}

footer {
    background-color: #56CCF2;
    color: white;
    text-align: center;
    padding: 2px 0;
    margin-top: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
